.home{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.homeBox{
text-align:center;
max-width:420px;
padding:20px;
background:#141414;
border-radius:16px;
box-shadow:0 0 25px black;
}

.logo{
width:180px;
margin-bottom:10px;
}

.menu{
display:flex;
flex-direction:column;
gap:10px;
}

.menuBtn{
background:#222;
color:#c9a55c;
padding:12px;
border-radius:10px;
text-decoration:none;
}

.titleBox{
margin-bottom:20px;
}

.gameTitle{
font-size:34px;
color:#d4af37;
margin:5px 0;
letter-spacing:2px;
text-shadow:0 0 10px black;
}

.gameSub{
font-size:22px;
color:#aaa;
margin:0 0 10px 0;
font-weight:normal;
}

.meta{
font-size:12px;
color:#777;
display:flex;
flex-direction:column;
gap:2px;
}

