/* 网格自适应 */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:10px;
padding:5px;
}

.card{
background:#1a1a1a;
padding:5px;
border-radius:12px;
box-shadow:0 0 12px black;
text-align:center;
overflow:hidden;
cursor:pointer;
transition: transform 0.2s;
}
.card:hover{
transform: scale(1.05);
}

.card img{
width:100%;
border-radius:8px;
height:auto;
object-fit:cover;
}

/* 文本 */
.card p{
margin:4px 0;
font-size:12px;
color:#ddd;
}

/* 搜索 + 分类 */
.filter{
display:flex;
flex-wrap:wrap;
gap:6px;
justify-content:center;
margin:10px 0;
}

#searchBox{
width:90%;
max-width:300px;
margin:0 auto 10px auto;
padding:6px 10px;
border-radius:6px;
border:1px solid #555;
background:#222;
color:#ddd;
}

/* 弹窗样式 */
.lightbox{
position:fixed;
top:0;left:0;width:100%;height:100%;
background:rgba(0,0,0,0.9);
display:none;
align-items:center;
justify-content:center;
z-index:999;
}
.lightbox img{
max-width:90%;


  .titleBox{
margin-bottom:20px;
}

.gameTitle{
font-size:34px;
color:#d4af37;
margin:5px 0;
letter-spacing:2px;
text-shadow:0 0 10px black;
}

.gameSub{
font-size:22px;
color:#aaa;
margin:0 0 10px 0;
font-weight:normal;
}

.meta{
font-size:12px;
color:#777;
display:flex;
flex-direction:column;
gap:2px;
}


  .homeBox{
text-align:center;
max-width:420px;
padding:20px;
background:#141414;
border-radius:16px;
box-shadow:0 0 25px black;
}

max-height:90%;
border-radius:10px;
box-shadow:0 0 20px black;
}
