.home{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.homeBox{
text-align:center;
max-width:400px;
}

.logo{
width:180px;
margin-bottom:10px;
}

.menu{
display:flex;
flex-direction:column;
gap:10px;
}

.menuBtn{
background:#222;
color:#c9a55c;
padding:12px;
border-radius:10px;
text-decoration:none;
}
