body{
background:#111;
color:#ddd;
font-family:serif;
margin:0;
padding:10px;
}

.title{
text-align:center;
color:#c9a55c;
}

.filter{
display:flex;
flex-wrap:wrap;
gap:8px;
justify-content:center;
margin-bottom:15px;
}

button{
background:#222;
border:1px solid #555;
color:#c9a55c;
padding:8px 12px;
border-radius:8px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:12px;
}

.card{
background:#1a1a1a;
padding:5px;
border-radius:12px;
box-shadow:0 0 10px black;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

